.idea/modules.xml
.idea/airport.iml
.idea/editor.xml
.idea/encodings.xml
.idea/misc.xml
.idea/vcs.xml
AirGame/.vs/AirGame/v17/Solution.VC.db
AirGame/.vs/AirGame/v17/Solution.VC.db
AirGame/.vs/AirGame/v17/Solution.VC.db
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/reply/cache-v2-355d038f46c3bf3af158.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-a9935e52c4b9c8dfb33e.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-30716e2e0b369387ef34.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
cmake-build-debug/.cmake/api/v1/reply/directory-_deps.sfml-build-Debug-cf9b12dda55341c36632.json
cmake-build-debug/.cmake/api/v1/reply/directory-_deps.sfml-build.src.SFML-Debug-59858f26345abeca2d61.json
cmake-build-debug/.cmake/api/v1/reply/directory-_deps.sfml-build.src.SFML.Audio-Debug-8807abd1842ff7065ba0.json
cmake-build-debug/.cmake/api/v1/reply/directory-_deps.sfml-build.src.SFML.Graphics-Debug-e1d6e9391a96512fc260.json
cmake-build-debug/.cmake/api/v1/reply/directory-_deps.sfml-build.src.SFML.Main-Debug-6529a401afa4ee1e1f39.json
cmake-build-debug/.cmake/api/v1/reply/directory-_deps.sfml-build.src.SFML.Network-Debug-1115e865a1341545fd62.json
cmake-build-debug/.cmake/api/v1/reply/directory-_deps.sfml-build.src.SFML.System-Debug-ee3c57a031694e377ab6.json
cmake-build-debug/.cmake/api/v1/reply/directory-_deps.sfml-build.src.SFML.Window-Debug-34d2f80321db0e21271b.json
cmake-build-debug/.cmake/api/v1/reply/index-2025-05-20T16-30-41-0985.json
cmake-build-debug/.cmake/api/v1/reply/target-airport-Debug-85130fe5b36c390d79c8.json
cmake-build-debug/.cmake/api/v1/reply/target-sfml-audio-Debug-49dac888be9d6e533087.json
cmake-build-debug/.cmake/api/v1/reply/target-sfml-graphics-Debug-d426c1189b98103ba371.json
cmake-build-debug/.cmake/api/v1/reply/target-sfml-main-Debug-733c6dd5de5b44f8f277.json
cmake-build-debug/.cmake/api/v1/reply/target-sfml-network-Debug-98c05ade5fb0e16f688d.json
cmake-build-debug/.cmake/api/v1/reply/target-sfml-system-Debug-01472fe665233dde6304.json
cmake-build-debug/.cmake/api/v1/reply/target-sfml-window-Debug-5e7b7b256ff21f925f30.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-e35c2bdc62c44a5e761f.json
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/_deps/sfml-build/cmake_install.cmake
cmake-build-debug/_deps/sfml-build/CMakeFiles/Export/3937c6824958577f216dad0a66bc6149/SFMLStaticTargets-debug.cmake
cmake-build-debug/_deps/sfml-build/CMakeFiles/Export/3937c6824958577f216dad0a66bc6149/SFMLStaticTargets.cmake
cmake-build-debug/_deps/sfml-build/lib/libsfml-graphics-s-d.a
cmake-build-debug/_deps/sfml-build/lib/libsfml-system-s-d.a
cmake-build-debug/_deps/sfml-build/lib/libsfml-window-s-d.a
cmake-build-debug/_deps/sfml-build/SFMLConfig.cmake
cmake-build-debug/_deps/sfml-build/SFMLConfigDependencies.cmake
cmake-build-debug/_deps/sfml-build/SFMLConfigVersion.cmake
cmake-build-debug/_deps/sfml-build/SFMLStaticTargets.cmake
cmake-build-debug/_deps/sfml-build/src/SFML/Audio/cmake_install.cmake
cmake-build-debug/_deps/sfml-build/src/SFML/cmake_install.cmake
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/cmake_install.cmake
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/BlendMode.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/CircleShape.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Color.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/ConvexShape.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Font.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/GLCheck.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/GLExtensions.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Glsl.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Image.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/ImageLoader.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RectangleShape.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RenderStates.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RenderTarget.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RenderTexture.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RenderTextureImpl.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RenderTextureImplDefault.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RenderTextureImplFBO.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RenderWindow.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Shader.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Shape.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Sprite.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Text.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Texture.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/TextureSaver.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Transform.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Transformable.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Vertex.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/VertexArray.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/VertexBuffer.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/View.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Main/cmake_install.cmake
cmake-build-debug/_deps/sfml-build/src/SFML/Network/cmake_install.cmake
cmake-build-debug/_deps/sfml-build/src/SFML/System/cmake_install.cmake
cmake-build-debug/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Clock.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Err.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/FileInputStream.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Lock.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/MemoryInputStream.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Mutex.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Sleep.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/String.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Thread.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/ThreadLocal.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Time.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Win32/ClockImpl.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Win32/MutexImpl.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Win32/SleepImpl.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Win32/ThreadImpl.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Win32/ThreadLocalImpl.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Window/cmake_install.cmake
cmake-build-debug/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Clipboard.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Context.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Cursor.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/GlContext.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/GlResource.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Joystick.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/JoystickManager.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Keyboard.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Mouse.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Sensor.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/SensorManager.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Touch.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/VideoMode.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Vulkan.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Win32/ClipboardImpl.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Win32/CursorImpl.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Win32/InputImpl.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Win32/JoystickImpl.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Win32/SensorImpl.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Win32/VideoModeImpl.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Win32/VulkanImplWin32.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Win32/WglContext.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Win32/WindowImplWin32.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Window.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/WindowBase.cpp.obj
cmake-build-debug/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/WindowImpl.cpp.obj
cmake-build-debug/_deps/sfml-src/
cmake-build-debug/_deps/sfml-subbuild/.ninja_log
cmake-build-debug/_deps/sfml-subbuild/build.ninja
cmake-build-debug/_deps/sfml-subbuild/cmake_install.cmake
cmake-build-debug/_deps/sfml-subbuild/CMakeCache.txt
cmake-build-debug/_deps/sfml-subbuild/CMakeFiles/3.29.6/CMakeSystem.cmake
cmake-build-debug/_deps/sfml-subbuild/CMakeFiles/cmake.check_cache
cmake-build-debug/_deps/sfml-subbuild/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/_deps/sfml-subbuild/CMakeFiles/rules.ninja
cmake-build-debug/_deps/sfml-subbuild/CMakeFiles/sfml-populate-complete
cmake-build-debug/_deps/sfml-subbuild/CMakeFiles/sfml-populate.dir/Labels.json
cmake-build-debug/_deps/sfml-subbuild/CMakeFiles/sfml-populate.dir/Labels.txt
cmake-build-debug/_deps/sfml-subbuild/CMakeFiles/TargetDirectories.txt
cmake-build-debug/_deps/sfml-subbuild/CMakeLists.txt
cmake-build-debug/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-build
cmake-build-debug/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-configure
cmake-build-debug/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-done
cmake-build-debug/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-download
cmake-build-debug/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-gitclone-lastrun.txt
cmake-build-debug/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-gitinfo.txt
cmake-build-debug/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-install
cmake-build-debug/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-mkdir
cmake-build-debug/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-patch
cmake-build-debug/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-patch-info.txt
cmake-build-debug/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-test
cmake-build-debug/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-update-info.txt
cmake-build-debug/_deps/sfml-subbuild/sfml-populate-prefix/tmp/sfml-populate-cfgcmd.txt
cmake-build-debug/_deps/sfml-subbuild/sfml-populate-prefix/tmp/sfml-populate-gitclone.cmake
cmake-build-debug/_deps/sfml-subbuild/sfml-populate-prefix/tmp/sfml-populate-gitupdate.cmake
cmake-build-debug/_deps/sfml-subbuild/sfml-populate-prefix/tmp/sfml-populate-mkdirs.cmake
cmake-build-debug/airport.exe
cmake-build-debug/assets/airoport final.png
cmake-build-debug/assets/ofont.ru_Menlo.ttf
cmake-build-debug/build.ninja
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.29.6/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.29.6/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.29.6/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.29.6/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/a.exe
cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/a.exe
cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/airport.dir/AirGame.cpp.obj
cmake-build-debug/CMakeFiles/airport.dir/Airplane.cpp.obj
cmake-build-debug/CMakeFiles/airport.dir/Airstrip.cpp.obj
cmake-build-debug/CMakeFiles/airport.dir/Cargo.cpp.obj
cmake-build-debug/CMakeFiles/airport.dir/Cilivian.cpp.obj
cmake-build-debug/CMakeFiles/airport.dir/Date.cpp.obj
cmake-build-debug/CMakeFiles/airport.dir/Display.cpp.obj
cmake-build-debug/CMakeFiles/airport.dir/Game.cpp.obj
cmake-build-debug/CMakeFiles/airport.dir/Level.cpp.obj
cmake-build-debug/CMakeFiles/airport.dir/Menu.cpp.obj
cmake-build-debug/CMakeFiles/airport.dir/Military.cpp.obj
cmake-build-debug/CMakeFiles/CheckTypeSize/SIZEOF_VOID_PTR.bin
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CPackConfig.cmake
cmake-build-debug/CPackSourceConfig.cmake
CMakeLists.txt
CMakeLists.txt
.idea/workspace.xml
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-765ab2caf05b376855c4.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-979afffbde9b7acb0abd.json
cmake-build-debug/.cmake/api/v1/reply/index-2025-05-23T09-35-02-0272.json
cmake-build-debug/.cmake/api/v1/reply/target-airport-Debug-d9bacade933ea2f56669.json
cmake-build-debug/.cmake/api/v1/reply/target-sfml-graphics-Debug-7acbd74aa90f8a0ec23c.json
cmake-build-debug/Users.txt
cmake-build-debug/Testing/Temporary/LastTest.log
