AirGame/.vs/AirGame/FileContentIndex/13233421-5b3c-4aa7-8031-aac9f3ef225a.vsidx
AirGame/.vs/AirGame/FileContentIndex/f88f3fd9-bf60-4c45-9efa-7854e8a18382.vsidx
AirGame/.vs/AirGame/FileContentIndex/43cabf0c-3905-4744-aff5-d5d74735751e.vsidx
AirGame/.vs/AirGame/FileContentIndex/f8bd4814-bc1c-4f46-9005-8278a4c347ce.vsidx
AirGame/.vs/AirGame/FileContentIndex/fc59acc5-0196-4f69-8f7f-d319877f51ec.vsidx
AirGame/.vs/AirGame/v17/.suo
AirGame/.vs/AirGame/v17/Browse.VC.db
AirGame/.vs/AirGame/v17/DocumentLayout.json
AirGame/.vs/AirGame/v17/ipch/AutoPCH/202c162119e7c013/LEVEL.ipch
AirGame/.vs/AirGame/v17/ipch/AutoPCH/2f85eb65756577/AIRGAME.ipch
AirGame/.vs/AirGame/v17/ipch/AutoPCH/518c1a4e93e054c9/DATE.ipch
AirGame/.vs/AirGame/v17/ipch/AutoPCH/c817cf2d361bc073/AIRSTRIP.ipch
AirGame/.vs/AirGame/v17/Solution.VC.db
AirGame/AirGame.sln
AirGame/AirGame.vcxproj
AirGame/AirGame.vcxproj.filters
AirGame/AirGame.vcxproj.user
AirGame/AirGame/x64/Debug/AirGame.exe.recipe
AirGame/AirGame/x64/Debug/AirGame.ilk
AirGame/AirGame/x64/Debug/AirGame.log
AirGame/AirGame/x64/Debug/AirGame.obj
AirGame/AirGame/x64/Debug/AirGame.tlog/AirGame.lastbuildstate
AirGame/AirGame/x64/Debug/AirGame.tlog/CL.command.1.tlog
AirGame/AirGame/x64/Debug/AirGame.tlog/Cl.items.tlog
AirGame/AirGame/x64/Debug/AirGame.tlog/CL.read.1.tlog
AirGame/AirGame/x64/Debug/AirGame.tlog/CL.write.1.tlog
AirGame/AirGame/x64/Debug/AirGame.tlog/link.command.1.tlog
AirGame/AirGame/x64/Debug/AirGame.tlog/link.read.1.tlog
AirGame/AirGame/x64/Debug/AirGame.tlog/link.secondary.1.tlog
AirGame/AirGame/x64/Debug/AirGame.tlog/link.write.1.tlog
AirGame/AirGame/x64/Debug/Airstrip.obj
AirGame/AirGame/x64/Debug/Date.obj
AirGame/AirGame/x64/Debug/vc143.idb
AirGame/AirGame/x64/Debug/Level.obj
AirGame/x64/Debug/AirGame.exe
AirGame/AirGame/x64/Debug/vc143.pdb
AirGame/x64/Debug/AirGame.pdb
